div(class="post_" + postId)
  div.post_header
    <a href="<%- url %>">
      <img src="<%- logo %>" width="60px" class="avaForPost" height="60px">
    </a>
    <div class="post_header_info">
      h5.post_author
        a.author= username
    </div>
    <div class="post_date">
      a(class="post_link" href="/wall" + postId)
        p= dateHours + ":" + dateMinutes + " " + dateDay + " " + dateMonth
    </div>
  </div>
  <div class="post_content">
    <div class="post_info">
      <div class="wall_text">
        p= postText
      </div>
      <div class="likeHeaderButtons">
        <div class="likeHeaderButtonsWrapper">
          <div class="likeButton">
            <a class="like">
              <img src="">
            </a>
          </div>
          <div class="repostButton">
            <a class="repost">
              <img src="">
            </a>
          </div>
        </div>
      </div>
    </div>
