doctype html
html
  head
    title= title
  body
    div.pos-f-t
      div.collapse#navbarToggleExternalContent
        div(class="bg-dark p-4")
          h5(class="text-white h4")
        span.text-muted
          a(href="/") Выход
          a(href="/") Новостная лента
      nav(class="navbar navbar-dark bg-dark")
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation")
          span(class="navbar-toggler-icon")
        a(href="/")
          h1 bloquespot
