<div class="post_2"><div class="post_header"><a href="<%- url %>">
<img src="<%- logo %>" width="60px" class="avaForPost" height="60px">
</a>
<div class="post_header_info"><h5 class="post_author"><a class="author">thekingofmarmelad</a></h5></div>
<div class="post_date"><a class="post_link" href="/wall2"><p>0:6 18 ноября</p></a></div></div></div>
<div class="post_content">
<div class="post_info">
<div class="wall_text"><p>хай</p></div>
<div class="likeHeaderButtons">
<div class="likeHeaderButtonsWrapper">
<div class="likeButton">
<a class="like">
<img src="">
</a>
</div>
<div class="repostButton">
<a class="repost">
<img src="">
</a>
</div>
</div>
</div>
</div></div>