body{
  background: #E6E6FA;
  margin: 0;
}

main{
  margin-top: 78px;
  max-width: 100%;
  height: auto;
}

footer{
  font-family: 'Roboto Thin';
  text-align: center;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0pt;
  color: #4682B4;
}

#emailField{
  color: #8B0000;
}
#miniAva{
  width: 56px;
  height: 56px;
  border-radius: 28px;
}

#nomine{
  color: white;
}

#nomine:hover{
  color: #87CEFA;
}

#userField{
  color: #8B0000;
}

#nomineLink{
  text-decoration: none;
}

#passField{
  color: #8B0000;
}

#repassField{
  color: #8B0000;
}

#helloMessage{
  color: white;
}

#aboutMessage{
  color: black;
}

.bg-dark{
  background-color: #4682B4!important;
}

.linkTo{
  color: white;
  text-decoration: none;
}

.ava{
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.ava:hover{
  opacity: 0.8;
}
