<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">НОВОСТИ</h5>

      <% if(username == ""){ %>
        <span class="text-muted">
          <a href="/registration" class="linkTo">Регистрация</a>
          <a href="/login" class="linkTo">Войти</a>
        </span>
      <% }else{ %>
        <div class="loginnedAs">
          <form action="/" method="post">
            <a href= <%- url %>><img src= <%- logo %> id="miniAva" class="ava"/></a>
            <input type="submit" name="" value="Выход">
            <a href="/" class="linkTo">Главная страница</a>
          </form>
        </div>
      <% } %>


    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/" id="nomineLink"><h1 id="nomine">bloquespot</h1></a>
  </nav>
</div>
